<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
    <title>DH Notes</title>
  </head>
  <body>
    <%- include('partials/header.ejs')%>
    <main>
      <section class="login-section">
        <h1>Perfil de usuario</h1>
        <section class="login-form">
          <form action="/users/<%= user.id%>?_method=PUT" method="POST">
            <section class="form-field">
                <img src="/profile/<%= user.image%>" alt="imagen de perfil">
            </section>
            <section class="form-field">
              <input type="email" name="email" placeholder="E-mail" value="<%= user.email %>" />
              <p class="error enable">Por favor ingrese un mail v치lido</p>
            </section>
            <section class="form-field password-field">
              <input type="password" name="password" placeholder="Contrase침a" value="<%= user.password %>" />
              <i class="fas fa-eye"></i>
              <p class="error">Por favor ingrese una contrase침a v치lida</p>
            </section>
            <section class="form-field">
              <input type="fName" name="fName" placeholder="Nombre" value="<%= user.fName %>"/>
              <p class="error">Por favor ingrese su nombre</p>
            </section>
            <section class="form-field">
              <input type="lName" name="lName" placeholder="Apellido" value="<%= user.lName %>" />
              <p class="error">Por favor ingrese su apellido</p>
            </section>
            <section class="form-field">
              <div class="flex-container">
                <button type="submit">Editar</button>
              </div>
            </section>
          </form>
        </section>
      </section>
    </main>
  </body>
</html>
